<section class="inicio">
    <div class="container-inicio">
        <div class="left-wrapper">
            <div class="text-section">
                <div class="title">
                    <h1>Conheça o<br>Sandro <span>Result</span> !</h1>
                    <h3>Filho de Guaiúba e candidato a prefeito do município</h3>
                </div>
                <div class="subtext">
                    <p>
                        É com o coração cheio de esperança e a vontade de
                        trabalhar por nossa gente que me apresento,
                        Sandro Result, pronto para construirmos juntos um
                        futuro melhor para Guaiúba.
                    </p>
                </div>
            </div>
            <div class="redirection">
                <app-redirect-button
                    locale="#sobre"
                    text="Saiba Mais"
                >

                </app-redirect-button>
            </div>
        </div>
        <div class="right-section">
            <div class="background">
                <div class="img">
                    <img [ngSrc]="criancasImg" width="500" height="700" priority="">
                </div>
            </div>
        </div>
    </div>
</section>
