<section class="sobre">
    <img src="../../../assets/line-wave.svg" alt="">
    <div class="container-sobre">
        <app-highlight-panel
            imageUrl="../../../assets/images/atividades3.jpeg"
            preTitle="Trajetória"
            title="Das Origens Modestas à Liderança"
            subtext="Sandro Henrique Costa Menezes, Nascido em fortaleza no dia 07 de Março em 1986, casado com Rafaela Vieira, pai da Sarah, Ester, Heitor e Lara. Este empreededor enfrentou inumeros adversidades desde o início mas com tenacidade e visão, superou todos os obstáculos junto com sua esposa, iniciaram pequenos, mas com grande foco e excelência.
            Com trabalho árduo e uma mente empreendedora, transformou uma pequena ideia em uma empresa sólida, a RESULT SOLUTION, que hoje é um grupo consolidado no mercado que agrega e 6 empresas: PLANTA VERDE, CINTA-SE BEM, RESULT CAST, REALCE, POWER FIT E TUDO VERDE, construindo não apenas um negócio, mas também oportunidades para outros. 
            "
        >
        </app-highlight-panel>
        <app-highlight-panel
            imagePosition="left"
            imageUrl="../../../assets/images/atividades2.jpeg"
            preTitle="Espírito Comunitário"
            title="A Vondade de Fazer a Diferença"
            subtext="Ao longo dos anos, não se contentou apenas em construir uma empresa de sucesso, mas hoje dedica se o seu tempo e recurso para causas sociais. Sua paixão por fazer a diferença o levou a iniciar alguns projetos que ajudam diversas familias em Guaiúba, surgiu assim a Rede Solidária, que é um projeto de autorial do Sandro para unir forças em prol de transformar a realidade dos necessitados. Sandro possui uma inquietação por promover justiça social. 
            "
        >
        </app-highlight-panel>
        <app-highlight-panel
            imageUrl="../../../assets/images/atividades5.jpeg"
            preTitle="JORNADA INSPIRADORA"
            title="Um Homem Perseverante"
            subtext="
            Além disso, o grupo sempre desenvolve estratégias que estimulam o esporte, seja em ações diretas ou por meio de patrocínio, tendo por foco o território Guaiubano. 
A combinação de conquistas profissionais e contribuições altruitas define Sandro Henrique como não apenas um empreendedor talentoso, mas também como um agente de mudança comprometido com o bem-estar coletivo. 
            Sua jornada é um testemunho inspirador de perseverança e sucesso conquistado passo a passo."
        >
        </app-highlight-panel>
        <app-highlight-panel
            imagePosition="left"
            imageUrl="../../../assets/images/atividades4.jpeg"
            preTitle="É hora da mudança!"
            title="Uma Guaiúba Melhor !"
            subtext="Chegou o momento de Guaiúba ter um governo que ouve, que sente e que trabalha lado a lado
            com sua gente. Um governo que reconhece os erros do passado e se compromete a construir um
            futuro diferente, mais justo e com oportunidades para todos.
            Para transformar Guaiúba, precisamos, antes de tudo, conhecer bem a nossa realidade e as
            necessidades da nossa gente. Vamos ouvir a população, mapear as condições da infraestrutura,
            analisar os indicadores sociais e econômicos, e entender a fundo os desafios e as potencialidades
            de cada área. Com base em dados reais, vamos planejar ações eficazes e investimentos
            inteligentes. Nossas decisões não serão pautadas em achismos ou interesses individuais, mas sim
            em um conhecimento profundo das necessidades da nossa gente.
            "
        >
        </app-highlight-panel>
        <img src="" alt="">
    </div>
</section>
